.knopki {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4%;
}

.bondarev-btn {
  background-color: aqua;
  padding: 2px 4px;
  font-weight: 700;
  font-size: 20px;
  border: dotted red 4px;
  border-radius: 8px;
}

.konova-btn {
  background-color: rgb(182, 221, 255);
  color: #6213ab;
  padding: 2%;
  font-weight: 700;
  font-size: 20px;
  border: dashed rgb(149, 0, 255) 2px;
  border-radius: 12px;
}

.kunaeva-btn {
  background-color: rgb(39, 40, 46);
  color: #ffffff;
  padding: 2px 5px;
  font-weight: 700;
  font-size: 20px;
  border: dotted rgb(0, 8, 255) 4px;
  border-radius: 9px;
}

.garas-btn {
  background-color: rgb(182, 221, 255);
  color: #20f5d2;
  padding: 2%;
  font-weight: 700;
  font-size: 20px;
  border: dashed rgb(0, 191, 255) 2px;
  border-radius: 12px;
}

.bolotnaya-btn {
  background-color: rgb(182, 221, 255);
  color: #f7c7c7;
  padding: 2%;
  font-weight: 700;
  font-size: 20px;
  border: dashed rgb(199, 154, 232) 2px;
  border-radius: 12px;
}


.andrusha-btn {
  background-color: #A0C2FF;
  border: #D9D9D9, 1px, solid;
  color: white;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}
  
.arkhipova-btn {
  background-color: rgb(255, 223, 250);
  color: #5e5e5e;
  padding: 6px;
  border: solid rgb(255, 149, 184);
  border-radius: 15px;
}

.arkhipova-btn:hover {
  background-color: rgb(245, 201, 238);
  color: #343434;
  transition: all;
}

.boyarsky-btn {
  background-color: rgb(231, 200, 20);
  color: #030202;
  padding: 2%;
  font-weight: 700;
  font-size: 20px;
  border: dashed rgb(230, 145, 28) 2px;
  border-radius: 12px;
}
